{% set sitename="Sélection CS Games 2018" %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{sitename}}{% endblock %}</title>
  {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
  {% block css %}
    {% if STYLE_URL %}
      <link rel="stylesheet" href="/{{STYLE_URL}}">
    {% endif %}
  {% endblock %}
</head>
<body>
{% block navbar %}
  <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="nabar-header">
        <a class="navbar-brand" href="/" >
          <span class="eng57logo"></span>
          {{sitename}}
        </a>
      </div>
      {# needs bootstrap.js and jquery.. <div class="navbar-collapse collapse"> #}
      <ul id="navbarmenu" class="nav navbar-nav navbar-right">
        {% block navlinks %}
        {% endblock %}
      </ul>
      {# </div> #}
    </div>
  </nav>
{% endblock %}
<div class="content-wrapper">
{% block content %}
{% endblock %}
</div>
{% block script %}
  {% if SCRIPT_URL_COMMON %}
    <script type="text/javascript" src="/{{SCRIPT_URL_COMMON}}"></script>
  {% endif %}
{% endblock %}
</body>
</html>
